<section class="faq">
  <div class="container faq__container">
    <h2 class="faq__title heading-h2">
      Frequently asked questions
    </h2>
    <p class="faq__text text-p-medium">
      Everything you need to know about the product and billing.
    </p>

    <ul class="faq__list">
      <li class="faq__item" data-accordion="button">
        <div class="faq__item-head">
          <a class="faq__item-title text-p-large">
            How Can I Add More Emails To My Account?
          </a>
          <div class="faq__item-icon" data-accordion="icon">
            <div class="faq__item-icon-vertical"></div>
            <div class="faq__item-icon-horizontal"></div>
          </div>
        </div>
        <p class="faq__item-text text-p-medium" data-accordion="content">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute
          onboarding call to get you up and <r></r>unning as soon as possible.
        </p>
      </li>
      <li class="faq__item" data-accordion="button">
        <div class="faq__item-head">
          <a class="faq__item-title text-p-large">
            How Can I Add More Emails To My Account?
          </a>
          <div class="faq__item-icon" data-accordion="icon">
            <div class="faq__item-icon-vertical"></div>
            <div class="faq__item-icon-horizontal"></div>
          </div>
        </div>
        <p class="faq__item-text text-p-medium" data-accordion="content">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute
          onboarding call to get you up and <r></r>unning as soon as possible.
        </p>
      </li>
      <li class="faq__item" data-accordion="button">
        <div class="faq__item-head">
          <a class="faq__item-title text-p-large">
            How Can I Add More Emails To My Account?
          </a>
          <div class="faq__item-icon" data-accordion="icon">
            <div class="faq__item-icon-vertical"></div>
            <div class="faq__item-icon-horizontal"></div>
          </div>
        </div>
        <p class="faq__item-text text-p-medium" data-accordion="content">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute
          onboarding call to get you up and <r></r>unning as soon as possible.
        </p>
      </li>
      <li class="faq__item" data-accordion="button">
        <div class="faq__item-head">
          <a class="faq__item-title text-p-large">
            How Can I Add More Emails To My Account?
          </a>
          <div class="faq__item-icon" data-accordion="icon">
            <div class="faq__item-icon-vertical"></div>
            <div class="faq__item-icon-horizontal"></div>
          </div>
        </div>
        <p class="faq__item-text text-p-medium" data-accordion="content">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute
          onboarding call to get you up and <r></r>unning as soon as possible.
        </p>
      </li>
      <li class="faq__item" data-accordion="button">
        <div class="faq__item-head">
          <a class="faq__item-title text-p-large">
            How Can I Add More Emails To My Account?
          </a>
          <div class="faq__item-icon" data-accordion="icon">
            <div class="faq__item-icon-vertical"></div>
            <div class="faq__item-icon-horizontal"></div>
          </div>
        </div>
        <p class="faq__item-text text-p-medium" data-accordion="content">
          Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute
          onboarding call to get you up and <r></r>unning as soon as possible.
        </p>
      </li>


    </ul>
  </div>
</section>