<section class="maps">
  <div class="container maps__container">
    <h2 class="maps__title heading-h1">
      Contact our team to find out more
    </h2>
    <div class="maps__wrapper">
      <div id="map" class="maps__content">
      </div>
      <ul class="maps__list">
        <li class="maps__item">
          <h4 class="maps__item-title text-p-large">
            Support
          </h4>
          <p class="maps__item-text text-p-default">
            Our friendly team is here to help.
          </p>
          <a class="maps__item-link" href="mailto:support@sans.com">support@sans.com</a>
        </li>
        <li class="maps__item">
          <h4 class="maps__item-title text-p-large">
            Sales
          </h4>
          <p class="maps__item-text text-p-default">
            Questions or queries? Get in touch!
          </p>
          <a class="maps__item-link" href="mailto:sales@sans.com">sales@sans.com</a>
        </li>
        <li class="maps__item">
          <h4 class="maps__item-title text-p-large">
            Phone
          </h4>
          <p class="maps__item-text text-p-default">
            Mon-Fri from 8am to 5pm.
          </p>
          <a class="maps__item-link" href="tel:+1 (435) 345-7655">+1 (435) 345-7655</a>
        </li>
      </ul>
    </div>
  </div>
</section>