<section class="cards">
  <div class="container cards__container">
    <ul class="cards__list">
      <li class="cards__item">
        <div class="cards__item-pic">
          <img src="./assets/images/blog/cards-1.png" alt="first cards picture" width="564" height="751">
        </div>
        <div class="cards__item-body">
          <a href="./info.html">
            <h4 class="cards__item-title heading-h4">
              How we perform long-running tasks using AWS services
            </h4>
          </a>
          <p class="cards__item-text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar
            with all of these, they are usually entirely separate tools.
          </p>
        </div>
      </li>
      <li class="cards__item">
        <div class="cards__item-pic">
          <img src="./assets/images/blog/cards-2.png" alt="second cards picture" width="564" height="507">
        </div>
        <div class="cards__item-body">
          <a href="./info.html">
            <h4 class="cards__item-title heading-h4">
              How to ask when doing User Research
            </h4>
          </a>
          <p class="cards__item-text text-p-medium">
            Bro, the story is that you want to make an application for buying and selling goods on the market. During
            user
            research, what do you think you will ask people?
          </p>
        </div>
      </li>
      <li class="cards__item">
        <div class="cards__item-pic">
          <img src="./assets/images/blog/cards-3.png" alt="third cards picture" width="564" height="507">
        </div>
        <div class="cards__item-body">
          <a href="./info.html">
            <h4 class="cards__item-title heading-h4">
              Layout Exploration — Simple exercise but big effect
            </h4>
          </a>
          <p class="cards__item-text text-p-medium">
            Make alternatives or other options for the design we are making.
            For example, we are creating a website design. Then there is the testimonial section.
          </p>
        </div>
      </li>
      <li class="cards__item">
        <div class="cards__item-pic">
          <img src="./assets/images/blog/cards-4.png" alt="fourth cards picture" width="564" height="751">
        </div>
        <div class="cards__item-body">
          <a href="./info.html">
            <h4 class="cards__item-title heading-h4">
              Webflow Break the Coding Barrier
            </h4>
          </a>
          <p class="cards__item-text text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar
            with all of these, they are usually entirely separate tools.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>