<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__text text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building products that will help you run your
      business better.

    </p>

    <ul class="tab-controls">
      <li data-tab="tab-1" class="tab-controls__item tab-controls__item--active text-p-default">
        View All
      </li>
      <li data-tab="tab-2" class="tab-controls__item text-p-default">
        Design
      </li>
      <li data-tab="tab-3" class="tab-controls__item text-p-default">
        Articles
      </li>
      <li data-tab="tab-4" class="tab-controls__item text-p-default">
        Product
      </li>
      <li data-tab="tab-5" class="tab-controls__item text-p-default">
        Software Development
      </li>
      <li data-tab="tab-6" class="tab-controls__item text-p-default">
        Customer Success
      </li>
    </ul>




    <!-- ======================= -->
    <div id="tab-1" class="tab-content">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-1.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Practice making User Flow
            </h5>
            <p class="hero__slide-text text-p-medium">
              In this article, we'll cover how to <br> create user flows
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design <br> Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand <br> design principles, we first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-3.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Using Grid in website design
            </h5>
            <p class="hero__slide-text text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand design principles, we first discuss the principles.
            </p>
          </div>

        </div>
      </div>
    </div>
    <div id="tab-2" class="tab-content is-hidden">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-1.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Practice making User Flow
            </h5>
            <p class="hero__slide-text text-p-medium">
              In this article, we'll cover how to <br> create user flows
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design <br> Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand <br> design principles, we first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-3.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Using Grid in website design
            </h5>
            <p class="hero__slide-text text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand design principles, we first discuss the principles.
            </p>
          </div>

        </div>
      </div>
    </div>
    <div id="tab-3" class="tab-content is-hidden">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-1.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Practice making User Flow
            </h5>
            <p class="hero__slide-text text-p-medium">
              In this article, we'll cover how to <br> create user flows
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design <br> Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand <br> design principles, we first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-3.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Using Grid in website design
            </h5>
            <p class="hero__slide-text text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand design principles, we first discuss the principles.
            </p>
          </div>

        </div>
      </div>
    </div>
    <div id="tab-4" class="tab-content is-hidden">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-1.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Practice making User Flow
            </h5>
            <p class="hero__slide-text text-p-medium">
              In this article, we'll cover how to <br> create user flows
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design <br> Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand <br> design principles, we first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-3.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Using Grid in website design
            </h5>
            <p class="hero__slide-text text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand design principles, we first discuss the principles.
            </p>
          </div>

        </div>
      </div>
    </div>
    <div id="tab-5" class="tab-content is-hidden">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-1.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Practice making User Flow
            </h5>
            <p class="hero__slide-text text-p-medium">
              In this article, we'll cover how to <br> create user flows
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design <br> Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand <br> design principles, we first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-3.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Using Grid in website design
            </h5>
            <p class="hero__slide-text text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand design principles, we first discuss the principles.
            </p>
          </div>

        </div>
      </div>
    </div>
    <div id="tab-6" class="tab-content is-hidden">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-1.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Practice making User Flow
            </h5>
            <p class="hero__slide-text text-p-medium">
              In this article, we'll cover how to <br> create user flows
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design <br> Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand <br> design principles, we first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-3.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Using Grid in website design
            </h5>
            <p class="hero__slide-text text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-pic">
              <img src="./assets/images/blog/slider-2.png" alt="first slider picture with the girl on slide" width="515"
                height="428">
            </div>
            <p class="hero__slide-descr text-p-small">
              <span>Published in Insight Jan 30, 2021</span>
              <span>by : Albert Sans</span>
            </p>
            <h5 class="hero__slide-title heading-h5">
              Overview of the Design Principles
            </h5>
            <p class="hero__slide-text text-p-medium">
              What are Design Principles?… To understand design principles, we first discuss the principles.
            </p>
          </div>

        </div>
      </div>
    </div>
    <!-- =========================== -->
  </div>
</section>