.header {
  z-index: var(--z-index-3);
  padding: 26px 0 22px;

  @include mobile {
    padding: 22px 0 18px;
  }

  &__container {
    @include flex-all-between;
  }

  &__logo {
    position: relative;
    z-index: var(--z-index-4);

    & svg {
      @include mobile {
        width: 120px;
      }

      & path {
        &:not(:last-child) {
          fill: var(--logo-color-text);
        }
      }

      & circle {
        fill: var(--logo-color-circle);
      }
    }
  }

  &__right {
    @include flex-align-center;
    gap: 111px;

    @include tablet {
      gap: 60px;
    }

    @include small-tablet {
      position: fixed;
      top: 0;
      left: -100vw;
      z-index: var(--z-index-3);
      flex-direction: column;
      justify-content: center;
      width: 80dvw;
      height: 100dvh;
      background: var(--neutral-color-10);
      opacity: 0;
      visibility: hidden;
      transition: var(--transition);

      &--visible {
        left: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__switcher {
    position: relative;
    border-radius: 13px;
    width: 63px;
    height: 27px;
    background-color: var(--neutral-color-130);
    transform: translateY(8px);
    transition: var(--transition);

    &-text {
      position: absolute;
      top: -25px;
      left: 50%;
      font-weight: 600;
      line-height: 150%;
      text-align: center;
      color: var(--neutral-color-140);
      transform: translateX(-50%);
    }

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 3px;
      display: inline-block;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      background-color: var(--neutral-color-120);
      transition: var(--transition);
    }

    &-checkbox {
      appearance: none;
    }

    &:has(&-checkbox:checked) {
      background-color: var(--neutral-color-60);

      &::before {
        left: 38px;
        background-color: var(--primary-color-50);
      }
    }
  }
}

.nav {
  margin-bottom: 50px;

  &__list {
    gap: 32px;
    @include flex-all-center;

    @include small-tablet {
      gap: 22px;
      flex-direction: column;
    }

    @include mobile {
      gap: 10px;
    }

    @include small-mobile {
      gap: 7px;
    }
  }

  &__link {
    position: relative;
    font-weight: 500;
    line-height: 162%;
    color: var(--neutral-color-100);

    @include small-tablet {
      font-size: 20px;
      line-height: 200%;
    }

    @include small-mobile {
      font-size: 18px;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -5px;
      left: 0;
      height: 1px;
      background-color: var(--neutral-color-100);
      opacity: 0;
      visibility: hidden;
      transition: var(--transition);
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.overlay {
  @include small-tablet {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-2);
    background-color: #000000b3;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.burger {
  @include burger;
}
