<section class="partners">
  <div class="container partners__container">
    <div class="partners__about">
      <h2 class="partners__title heading-h2">890+</h2>
      <p class="partners__text text-p-medium">some big companies that we work with, and trust us very much</p>
    </div>
    <div class="partners__logo">
      <ul class="partners__logo-list">
        <li class="partners__logo-item">
          <img loading="lazy" src="./assets/icons/airbnb-logo.svg" width="96" height="30" alt="airbnb-logo">
        </li>
        <li class="partners__logo-item">
          <img loading="lazy" src="./assets/icons/amazon-logo.svg" width="96" height="30" alt="amazon-logo">
        </li>
        <li class="partners__logo-item">
          <img loading="lazy" src="./assets/icons/fedex-logo.svg" width="96" height="30" alt="fedex-logo">
        </li>
        <li class="partners__logo-item">
          <img loading="lazy" src="./assets/icons/microsoft-logo.svg" width="116" height="26" alt="microsoft-logo">
        </li>
        <li class="partners__logo-item">
          <img loading="lazy" src="./assets/icons/google-logo.svg" width="91" height="30" alt="google-logo">
        </li>
        <li class="partners__logo-item">
          <img loading="lazy" src="./assets/icons/ola-logo.svg" width="94" height="32" alt="ola-logo">
        </li>
        <li class="partners__logo-item">
          <img loading="lazy" src="./assets/icons/walmart-logo.svg" width="114" height="28" alt="walmart-logo">
        </li>
        <li class="partners__logo-item">
          <img loading="lazy" src="./assets/icons/oyo-logo.svg" width="80" height="28" alt="oyo-logo">
        </li>
      </ul>
    </div>
  </div>
</section>