.hero {
  position: relative;
  padding: 87px 0 141px;

  @include mini-desktop {
    padding: 77px 0 121px;
  }

  @include small-tablet {
    padding: 35px 0 70px;
  }

  &__container {
    // ЕБАНУТЬ СЮДА ЭФФЕКТ ЧИНАЗЕС ЖЕС ЕС ЖИ ШИ ПИШИ С БУКВОЙ ЖИЕСТ Ь

    // position: relative;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   flex-shrink: 0;
    //   border-radius: 551px;
    //   width: 551px;
    //   height: 551px;
    //   background-color: #fa7515;
    //   opacity: 0.13;
    //   filter: blur(110px);
    // }

    @include flex-justify-between;
    gap: 15px;
    flex-wrap: wrap;
    align-items: flex-end;

    @include mini-desktop {
      gap: 130px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__left {
    max-width: 599px;
  }

  &__title {
    margin-bottom: 114px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mini-desktop {
      margin-bottom: 80px;
    }

    @include tablet {
      margin-bottom: 50px;
      font-size: 70px;
    }

    @include small-tablet {
      margin-bottom: 35px;
      font-size: 55px;
    }

    @include mobile {
      margin-bottom: 30px;
      font-size: 49px;
    }

    @include small-mobile {
      margin-bottom: 25px;
    }
  }

  &__subtitle {
    margin-bottom: 69px;
  }

  &__btn {
    border-radius: 100px;
    padding: 14px 44px;
    color: var(--neutral-color-10);
    background-color: var(--neutral-color-100);

    @include mobile {
      width: 100%;
      max-width: 280px;
    }
  }

  &__form {
    @include flex-align-center;
    gap: 16px;

    @include mini-desktop {
      justify-content: center;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }

    &-input {
      border-bottom: 1px solid var(--neutral-color-40);
      padding-bottom: 23px;
      min-width: 280px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--neutral-color-100);
      background-color: transparent;
    }
  }

  &__right {
    position: relative;

    ///////////////////////////////////// бля короче тут надо бы покрасивее сделаь вообще в идеале, а то убрал данилка все нахуй вообше, но это позде как нибудь............... ))
    /////////////////////////////////

    @include mini-desktop {
      display: none;
    }
  }

  &__sales {
    margin-bottom: 29px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 20px 40px 80px 0 #5960871f;
    background: #fff;
    transform: rotate(-0deg);

    @include small-desktop {
      max-width: 320px;
    }

    &-title {
      margin-bottom: 16px;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: #1d1e25;
    }

    &-img {
      @include small-desktop {
        max-width: 280px;
      }
    }
  }

  &__customer {
    position: absolute;
    top: -50px;
    right: -133px;
    display: inline-block;
    border-radius: 8px;
    padding: 16px 18px;
    box-shadow: 20px 40px 80px 0 #5960871f;
    background: #fff;

    @include small-desktop {
      top: -80px;
      right: 0;
      max-width: 175px;
    }

    &-title {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 16px;
      line-height: 187%;
      letter-spacing: -0.5px;
      color: #1d1e25;
    }

    &-img {
      @include small-desktop {
        max-width: 120px;
      }
    }
  }

  &__stats {
    border-radius: 8px;
    padding: 20px 29px;
    box-shadow: 20px 40px 80px 0 #2d33511f;
    text-align: left;
    background: #000;

    &-head {
      &-th {
        padding-bottom: 4px;
        font-weight: 600;
        font-size: 14px;
        line-height: 142%;
        color: #5c616f;
      }
    }

    &-body {
      &-td {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #fff;

        &:first-child {
          padding-right: 80px;
        }
      }

      &-num {
        display: inline-block;
        margin-right: 4px;
        font-weight: 600;
        font-size: 14px;
        line-height: 142%;

        &--green {
          color: #60d39c;

          &::before {
            content: '';
          }
        }

        &--red {
          color: #e35454;
        }
      }

      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        letter-spacing: -0.5px;
        color: #5c616e;
      }
    }
  }
}
