.overview {
  padding: 100px 0;
  background: var(--overview-bg-color);

  @include small-tablet {
    padding: 70px 0;
  }

  &__container {
    @include flex-all-center;
    flex-direction: column;
  }

  &__intro {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-self: start;
    justify-content: center;
    margin-bottom: 80px;
    max-width: 816px;

    @include mobile {
      margin-bottom: 60px;
    }

    @include small-mobile {
      margin-bottom: 40px;
    }

    @include tablet {
      align-items: center;
      max-width: none;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -2px;
    color: #fff;

    @include tablet {
      text-align: center;
    }

    @include mobile {
      font-size: 44px;
    }

    @include mobile-l {
      font-size: 38px;
    }

    @include small-mobile {
      font-size: 34px;
    }
  }

  &__text {
    max-width: 660px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--neutral-color-110);

    @include mobile-l {
      font-size: 16px;
    }
  }

  &__content {
    @include flex-all-center;
    gap: 256px;
    align-items: start;

    @include small-tablet {
      gap: 100px;
    }

    @include mobile {
      gap: 50px;
    }

    @include mobile-l {
      gap: 35px;
    }

    @include small-mobile {
      gap: 0;
      flex-direction: column;
    }
  }

  &__section {
    @include flex-column;
    gap: 24px;
    margin-bottom: 56px;
    min-height: 275px;
    max-width: 453px;

    @include mobile {
      gap: 20px;
      margin-bottom: 20px;
      min-height: 332px;
    }

    @include mobile-l {
      gap: 18px;
      margin-bottom: 0;
      min-height: 407px;
    }

    @include small-mobile {
      margin-bottom: 25px;
      min-height: 240px;
    }
  }

  &__column {
    @include flex-column-all-center;

    &-title {
      max-width: 249px;
      font-weight: 600;
      line-height: 131%;
      letter-spacing: -1px;
      color: #fff;
    }

    &-title-293px {
      max-width: 293px;
      font-weight: 600;
      line-height: 131%;
      letter-spacing: -1px;
      color: #fff;
    }

    &-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 162.5%;
      color: var(--neutral-color-110);
    }
  }
}
