<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h2">
      Trending news from Coca
    </h2>
    <p class="insight__text text-p-medium">
      we have some new Service to pamper you
    </p>
    <!-- ========= -->

    <div class="swiper insight__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide insight__slide">
          <img class="insight__slide-img" loading="lazy" src="./assets/images/insight-slider-pic1.jpg" width="582"
            height="332" alt="woman typing on laptop and writing something on a notebook">
          <div class="insight__slide-head text-p-small">
            <div class="insight__slide-date">
              Published in Insight <time datetime="2024-01-30"> Jan 30, 2024</time>
            </div>
            <address class="insight__slide-author">
              by : Albert Sans
            </address>
          </div>
          <h3 class="insight__slide-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
          <!-- <div class="insight__slider-btns">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path d="M24.9998 13.3334L31.6665 20L24.9998 26.6667M14.9998 26.6667L8.33317 20L14.9998 13.3334"
                stroke="#7E8492" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div> -->
        </div>
        <div class="swiper-slide insight__slide">
          <img class="insight__slide-img" loading="lazy" src="./assets/images/insight-slider-pic2.jpg" width="582"
            height="332" alt="man typing on laptop">
          <div class="insight__slide-head text-p-small">
            <div class="insight__slide-date">
              Published in Insight <time datetime="2024-01-30"> Jan 30, 2024</time>
            </div>
            <address class="insight__slide-author">
              by : Albert Sans
            </address>
          </div>
          <h3 class="insight__slide-title heading-h5">
            How to build a Kaylen relationship with a good company ?
          </h3>
        </div>
        <div class="swiper-slide insight__slide">
          <img class="insight__slide-img" loading="lazy" src="./assets/images/insight-slider-pic1.jpg" width="582"
            height="332" alt="woman typing on laptop and writing something on a notebook">
          <div class="insight__slide-head text-p-small">
            <div class="insight__slide-date">
              Published in Insight <time datetime="2024-01-30"> Jan 30, 2024</time>
            </div>
            <address class="insight__slide-author">
              by : Albert Sans
            </address>
          </div>
          <h3 class="insight__slide-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
          <!-- <div class="insight__slider-btns">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path d="M24.9998 13.3334L31.6665 20L24.9998 26.6667M14.9998 26.6667L8.33317 20L14.9998 13.3334"
                stroke="#7E8492" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div> -->
        </div>
        <div class="swiper-slide insight__slide">
          <img class="insight__slide-img" loading="lazy" src="./assets/images/insight-slider-pic2.jpg" width="582"
            height="332" alt="man typing on laptop">
          <div class="insight__slide-head text-p-small">
            <div class="insight__slide-date">
              Published in Insight <time datetime="2024-01-30"> Jan 30, 2024</time>
            </div>
            <address class="insight__slide-author">
              by : Albert Sans
            </address>
          </div>
          <h3 class="insight__slide-title heading-h5">
            How to build a Kaylen relationship with a good company ?
          </h3>
          <!-- <div class="insight__slider-btns">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path d="M24.9998 13.3334L31.6665 20L24.9998 26.6667M14.9998 26.6667L8.33317 20L14.9998 13.3334"
                stroke="#7E8492" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div> -->
        </div>
        <div class="swiper-slide insight__slide">
          <img class="insight__slide-img" loading="lazy" src="./assets/images/insight-slider-pic2.jpg" width="582"
            height="332" alt="man typing on laptop">
          <div class="insight__slide-head text-p-small">
            <div class="insight__slide-date">
              Published in Insight <time datetime="2024-01-30"> Jan 30, 2024</time>
            </div>
            <address class="insight__slide-author">
              by : Albert Sans
            </address>
          </div>
          <h3 class="insight__slide-title heading-h5">
            How to build a Kaylen relationship with a good company ?
          </h3>
          <!-- <div class="insight__slider-btns">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <path d="M24.9998 13.3334L31.6665 20L24.9998 26.6667M14.9998 26.6667L8.33317 20L14.9998 13.3334"
                stroke="#7E8492" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>