<section class="overview">
  <div class="container overview__container">
    <div class="overview__intro">
      <h2 class="overview__title">Coca help our client solve complex customer problems with date that does
        more.
      </h2>
      <p class="overview__text text-p-medium">Our platform offers the modern enterprise full control of how date can be
        access and used
        with industry leading software solutions for identity, activation, and date collaboration
      </p>
    </div>

    <div class="overview__content">
      <div class="overview__column">
        <div class="overview__section">
          <img src="./assets/icons/calendar-icon.svg" width="40" height="40" alt="">
          <h5 class="overview__column-title heading-h5">Build your date fundamental

          </h5>
          <p class="overview__column-text">
            Build access to date, develop valuable business insights and drive revenue while maintaining full control
            over
            access and use of date at all times.
          </p>
        </div>
        <div class="overview__section">
          <img src="./assets/icons/notepad-icon.svg" width="40" height="40" alt="">
          <h5 class="overview__column-title heading-h5">Activate your date

          </h5>
          <p class="overview__column-text">
            Accurately address your specific audiences at scale across any channel, platform, publisher or network and
            safely translate date between identity space to improve results.
          </p>
        </div>
      </div>
      <div class="overview__column">
        <div class="overview__section">
          <img src="./assets/icons/clipboard-icon.svg" width="40" height="40" alt="">
          <h5 class="overview__column-title heading-h5">Measure more effective
          </h5>
          <p class="overview__column-text">
            Effectively measure people-based campaigns with the freedom to choose from best-of breed partners to
            optimize and drive media innovation.
          </p>
        </div>
        <div class="overview__section">
          <img src="./assets/icons/badge-icon.svg" width="40" height="40" alt="">
          <h5 class="overview__column-title-293px heading-h5">Strengthen consumer privacy
          </h5>
          <p class="overview__column-text">
            Protect your customer date with leading privacy-preserving technologies and advanced techniques to minimize
            date movement while still enabling insight generation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>